<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="row">
    <div class="col-md-6">
       <%= form_for(:session, url: login_path) do |f| %>
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
              
              <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>Remember me on this computer</span>
                <% end %>
              
              <%= f.submit "Log in", class: "btn btn-primary" %>
       <% end %>
    <p>新規ログインの方はこちら <%= link_to "今すぐサインアップ!", signup_path %></p>
    <p><%= link_to 'トップページに戻る', pictures_path %></p>
    </div>
</div>