<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user, url: signup_path) do |f| %>
      
      <%= render 'shared/error_messages' %>
      
      <%= f.label '名前' %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label 'Eメール' %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label 'パスワードの確認' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
<%= link_to 'トップページに戻る', pictures_path %>