<% provide(:title, "画像の編集") %>

<div class="container picture-edit-body">
<h1>画像の編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <%= form_for @picture, url: pictures_path, html: { multipart: true } do |form| %>
       
       <%= form.label 'タイトル' %>
       <%= form.text_field :title %>
       
       <%= form.label '画像の設定' %>
       <%= form.file_field :avatar %>
       
       <%= form.label '画像の説明' %>
       <%= form.text_field :body %><br>
       
       <%= form.submit "画像を作成", class: "btn btn-primary"  %>
     <% end %>
     
     <%= link_to 'Show', @picture %> 
<%= link_to 'Back', pictures_path %>
  </div>
</div>

</div>

