<% provide(:title, "index") %>

<div class="container picture-body">
  
<div class="row">
  
  
    <% @pictures.each do |picture| %>

  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
  
  
  
    <h2><%= picture.title %></h2>
    <%= image_tag picture.avatar.url(:medium) %><br>
    <h4><span><%= picture.body %></span></h4><br>
    <button type="button" class="btn btn-info"><span><%= link_to '表示', picture_path(picture) %></button>
    <button type="button" class="btn btn-info"><span><%= link_to '編集', edit_picture_path(picture) %></span></button>
    <button type="button" class="btn btn-info"><span><%= link_to '削除', picture_path(picture),
                    method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %></span></button>
  
 
 </div>
    <% end %>
    
    
</div>
 

</div>

<%= link_to '画像の新規作成', new_picture_path %>

