<% provide(:title, "画像の表示") %>

<div class="container pictue-show-body">
<div class="row ">
    <div class="col">
    <h2><%= @picture.title %></h2>
    <%= image_tag @picture.avatar.url(:medium) %><br>
    <%= @picture.body %>
    </div>
</div>
</div>
    
    

<%= link_to 'Back', pictures_path %>