// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* indexページのbody */

.picture-body {
    padding-top:60px;
    
}



/* pictue.showページのbody */

.pictue-show-body {
    padding-top:60px;
}

/* picture.editページのbody */

.picture-edit-body {
    padding-top:60px;
}

/* picture.newページのbody */
.picture-new-body {
    padding-top:60px;
}